@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI-Light.eot');
    src: local('Segoe UI Light'), local('SegoeUI-Light'),
    url('../fonts/SegoeUI-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SegoeUI-Light.woff') format('woff'),
    url('../fonts/SegoeUI-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI-BoldItalic.eot');
    src: local('Segoe UI Bold Italic'), local('SegoeUI-BoldItalic'),
    url('../fonts/SegoeUI-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SegoeUI-BoldItalic.woff') format('woff'),
    url('../fonts/SegoeUI-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI-SemiBold.eot');
    src: local('Segoe UI Semibold'), local('SegoeUI-SemiBold'),
    url('../fonts/SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SegoeUI-SemiBold.woff') format('woff'),
    url('../fonts/SegoeUI-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI.eot');
    src: local('Segoe UI'), local('SegoeUI'),
    url('../fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SegoeUI.woff') format('woff'),
    url('../fonts/SegoeUI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI-Bold.eot');
    src: local('Segoe UI Bold'), local('SegoeUI-Bold'),
    url('../fonts/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SegoeUI-Bold.woff') format('woff'),
    url('../fonts/SegoeUI-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI-Italic.eot');
    src: local('Segoe UI Italic'), local('SegoeUI-Italic'),
    url('../fonts/SegoeUI-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SegoeUI-Italic.woff') format('woff'),
    url('../fonts/SegoeUI-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

body, html {
    overflow-x: hidden;
}


* {
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


#vl_form .wrap_form .head_form{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ededed;
    padding-top: 26px;
    padding-bottom: 16px;
}
#vl_form .wrap_form .head_form h5{
    color: #282828;
    font-family: "Segoe UI";
    font-size: 30px;
    font-weight: 700;
    margin: 0;
}
#vl_form .wrap_form .head_form p{
    color: #4b4b4b;
    font-family: "Segoe UI";
    font-size: 22px;
    font-weight: 400;
    margin-left: 10px;
}
#vl_form .wrap_form .form_body{
    padding-top: 42px;
    padding-bottom: 24px;
    padding-left: 68px;
    padding-right: 68px;

}
#vl_form .wrap_form .form_body .form_body_inner{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
#vl_form .wrap_form .form_body p.your_car{
    color: #1d1d1d;
    font-family: "Segoe UI";
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}
#vl_form .wrap_form .form_body .form_body_first input{
    border-radius: 4px;
    border: 1px solid #9e9e9e;
    background-color: #fff;
    padding: 0px 25px;
    height: 40px;
    color: #4c4c4c;
    font-family: "Segoe UI";
    font-size: 16px;
    font-weight: 400;
    width: 390px;
}

#vl_form .wrap_form .form_body .form_body_first input::-webkit-input-placeholder{
    color: #4c4c4c;
    font-family: "Segoe UI";
    font-size: 16px;
    font-weight: 400;
}
#vl_form .wrap_form .form_body .form_body_first input::-moz-placeholder{
    color: #4c4c4c;
    font-family: "Segoe UI";
    font-size: 16px;
    font-weight: 400;
}
#vl_form .wrap_form .form_body .form_body_first input:-moz-placeholder{
    color: #4c4c4c;
    font-family: "Segoe UI";
    font-size: 16px;
    font-weight: 400;
}
#vl_form .wrap_form .form_body .form_body_first input:-ms-input-placeholder{
    color: #4c4c4c;
    font-family: "Segoe UI";
    font-size: 16px;
    font-weight: 400;
}
#vl_form .wrap_form .form_body .form_body_first button{
    border: 0;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background-color: #1565c0;
    outline: none;
    color: #ffffff;
    font-family: "Segoe UI";
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    cursor: pointer;
    width: 180px;
    height: 40px;
    margin-left: 15px;
}
.form_body_sec{
    color: #4c4c4c;
    font-family: "Segoe UI";
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
}
#vl_form .wrap_form .form_body .form_body_third a.know{
    display: block;
    color: #1565c0;
    font-family: "Segoe UI";
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #1565c0;
    width: 290px;
    line-height: 34px;
    text-decoration: none;
    text-align: center;
}
#vl_form .wrap_form .first_step{
    display: none;
}
#vl_form .wrap_form .first_step.dbbl{
    display: block;
}
#vl_form .wrap_form .form_body .form_body_third a.how{
    margin-top: 10px;
    display: block;
    text-decoration: none;
    color: #868686;
    font-family: "Segoe UI";
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
#vl_form .wrap_form .form_body .form_body_third a.how i{
    color: #b0b0b0;
}
#vl_form .wrap_form .second_step .spares_hand .spares_txt{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}
#vl_form .wrap_form .second_step .spares_hand .spares_txt .check-material{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
#vl_form .wrap_form .second_step .spares_auto .spares_auto-head{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 10px;
    align-items: center;
}
#vl_form .wrap_form .second_step .spares_auto .spares_auto-head .spare_time{
    position: relative;
}
#vl_form .wrap_form .second_step .spares_auto .spares_auto-head .spare_time img{
    position: absolute;
    right: 15px;
    top: 10px;
}
#vl_form .wrap_form .second_step .spares_auto .spares_auto-head .spare_time input{
    display: block;
    text-decoration: none;
    font-family: "Segoe UI";
    font-size: 16px;
    font-weight: 600;
    width: 195px;
    text-align: left;
    padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 34px;
    color: #4c4c4c;
    border-radius: 4px;
    border: 1px solid #9e9e9e;
    background-color: #fff;
}
#vl_form .wrap_form .second_step .spares_auto .spares_auto-head .spare_time a img{
    margin-left: 15px;
}
#vl_form .wrap_form .second_step .spares_auto .main_list .select_li{
    border-radius: 4px;
    padding: 7px 0px;
    padding-left: 26px;
    padding-right: 20px;
    color: #4c4c4c;
    font-family: "Segoe UI";
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    line-height: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#vl_form .wrap_form .second_step .spares_auto .main_list .select_li.open span{
    transform: rotate(180deg);

}
#vl_form .wrap_form .second_step .spares_auto .main_list .select_li span{
    display: block;
    transition: all .3s ease;
    font-size: 12px;
}
#vl_form .wrap_form .second_step .spares_auto .main_list .category{
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    background: #fff;
    left: -1px;
    border: 1px solid #9e9e9e;
    margin: 0 auto;
    box-sizing: content-box;
    list-style: none;
    display: none;
    overflow-y: scroll;
    max-height: 330px;
}
#vl_form .wrap_form .second_step .spares_auto .main_list .category > li.open span{
    transform: rotate(180deg);
}

#vl_form .wrap_form .second_step .spares_auto .main_list .category > li{
    border-top: 1px solid #f1f1f1;
    padding-left: 26px;
    font-family: "Segoe UI";
    font-size: 16px;
    cursor: pointer;
    font-weight: 400;
    line-height: 36px;
    padding-right: 35px;
    color: #4c4c4c;
}
#vl_form .wrap_form .second_step .spares_auto .main_list .category > li:first-child{
    border-top: 0;
}
#vl_form .wrap_form .second_step .spares_auto .main_list .category > li span{
    display: block;
    float: right;
    color: #b4b4b4;
    transition: all .3s ease;
    font-size: 10px;
}
#vl_form .wrap_form .second_step .spares_auto .main_list{
    border: 1px solid #9e9e9e;
    position: relative;
    border-radius: 4px;
}
#vl_form .wrap_form .second_step .spares_auto .main_list.bdr{
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}
#vl_form .wrap_form .second_step .spares_auto .main_list .category .subcategory{
    display: none;
}
#vl_form .wrap_form .second_step .spares_auto .main_list .category.dbbl{
    display: block;
}
#vl_form .wrap_form .second_step .spares_auto .main_list .category .subcategory.dbbl{
    display: block;
}
#vl_form .wrap_form .second_step .spares_auto .subcategory{
    margin: 0;
    padding: 0;
    list-style: none;
}

.need_spare-check label{
    font-family: "Segoe UI";
    font-size: 16px;
    font-weight: bold;
    line-height: 34px;
    text-transform: uppercase;
    color: #1d1d1d;
}
.need_spare-check .checkbox {
    vertical-align: top;
    width: 17px;
    height: 17px;
    margin: 0 3px 0 0;
}

.need_spare-check .checkbox + label {
    cursor: pointer;
}


.need_spare-check .checkbox:not(checked) {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;
}
.need_spare-check .checkbox:not(checked) + label {
    position: relative;
    padding: 0 0 0 55px;
}

.need_spare-check .checkbox:not(checked) + label:before {
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 44px;
    height: 22px;
    border-radius: 13px;
    background: #f6f6f6;
    box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.14);
    transition: .2s;
}
.need_spare-check .checkbox:not(checked) + label:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 1px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 2px 0 6px 1px rgba(0, 0, 0, 0.14);
    transition: .2s;
}
.need_spare-check .checkbox:checked + label:before {
    background: #4caf50;
    box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.14);
}
.need_spare-check .checkbox:checked + label:after {
    left: 23px;
}
.need_spare-check .checkbox:focus + label:before {
    /*box-shadow: inset 0 2px 3px rgba(0,0,0,.2), 0 0 0 3px rgba(255,255,0,.7);*/
}
.need_spare-check .checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;
}
.need_spare-check .checkbox + label {
    position: relative;
    padding: 0 0 0 60px;
    cursor: pointer;
}
.need_spare-check .checkbox + label:before {
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 44px;
    height: 22px;
    border-radius: 13px;
    background: #CDD1DA;
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
    transition: .2s;
}
.need_spare-check .checkbox + label:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 1px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    transition: .2s;
}
.need_spare-check .checkbox:checked + label:before {
    background: #4caf50;
}
.need_spare-check .checkbox:checked + label:after {
    left: 23px;
}
.need_spare-check .checkbox:focus + label:before {
    /*box-shadow: inset 0 2px 3px rgba(0,0,0,.2), 0 0 0 3px rgba(255,255,0,.7);*/
}



#vl_form .wrap_form .second_step input[type="radio"]:checked,
#vl_form .wrap_form .second_step input[type="radio"]:not(:checked),
#vl_form .wrap_form .second_step .spares_auto .subcategory input[type="checkbox"]:checked,
#vl_form .wrap_form .second_step .spares_auto .subcategory input[type="checkbox"]:not(:checked){
    position: absolute;
    left: -9999px;
}

#vl_form .wrap_form .second_step input[type="radio"]:checked + label,
#vl_form .wrap_form .second_step input[type="radio"]:not(:checked) + label,
#vl_form .wrap_form .second_step .spares_auto .subcategory input[type="checkbox"]:checked + label,
#vl_form .wrap_form .second_step .spares_auto .subcategory input[type="checkbox"]:not(:checked) + label{
    display: inline-block;
    position: relative;
    padding-left: 23px;
    line-height: 15px;
    cursor: pointer;
}
#vl_form .wrap_form .second_step input[type="radio"]:checked + label:before,
#vl_form .wrap_form .second_step .spares_auto .subcategory input[type="checkbox"]:checked + label:before,
#vl_form .wrap_form .second_step input[type="radio"]:not(:checked) + label:before,
#vl_form .wrap_form .second_step .spares_auto .subcategory input[type="checkbox"]:not(:checked) + label:before{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 16px;
    height: 16px;
    /*border: 1px solid #dddddd;*/
    background-color: #eeeeee;
}
#vl_form .wrap_form .second_step input[type="radio"]:checked + label:before,
#vl_form .wrap_form .second_step .spares_auto .subcategory input[type="checkbox"]:checked + label:before{
    background: #256fc4;
}
#vl_form .wrap_form .second_step input[type="radio"]:checked + label:before,
#vl_form .wrap_form .second_step .spares_auto .subcategory input[type="checkbox"]:checked + label:before,
#vl_form .wrap_form .second_step input[type="radio"]:not(:checked) + label:before,
#vl_form .wrap_form .second_step .spares_auto .subcategory input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 4px;
}
#vl_form .wrap_form .second_step input[type="radio"]:checked + label:after,
#vl_form .wrap_form .second_step .spares_auto .subcategory input[type="checkbox"]:checked + label:after,
#vl_form .wrap_form .second_step input[type="radio"]:not(:checked) + label:after,
#vl_form .wrap_form .second_step .spares_auto .subcategory input[type="checkbox"]:not(:checked) + label:after{
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#vl_form .wrap_form .second_step .check-material label{
    font-family: "Segoe UI";
    font-size: 15px;
    font-weight: 400;
    color: #4c4c4c;
}
#vl_form .wrap_form .second_step .check-material .spare_radio-item{
    margin-right: 20px;
}
#vl_form .wrap_form .second_step .check-material .spare_radio-item:last-child{
    margin-right: 0;
}
#vl_form .wrap_form .second_step input[type="radio"]:checked + label:after,
#vl_form .wrap_form .second_step .spares_auto .subcategory input[type="checkbox"]:checked + label:after,
#vl_form .wrap_form .second_step input[type="radio"]:not(:checked) + label:after,
#vl_form .wrap_form .second_step .spares_auto .subcategory input[type="checkbox"]:not(:checked) + label:after {
    left: 3px;
    top: 4px;
    width: 8px;
    height: 4px;
    border-radius: 1px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#vl_form .wrap_form .second_step input[type="radio"]:not(:checked) + label:after,
#vl_form .wrap_form .second_step .spares_auto .subcategory input[type="checkbox"]:not(:checked) + label:after{
    opacity: 0;
}

#vl_form .wrap_form .second_step input[type="radio"]:checked + label:after,
#vl_form .wrap_form .second_step .spares_auto .subcategory input[type="checkbox"]:checked + label:after{
    opacity: 1;

}

#vl_form .wrap_form .second_step .spares_auto .main_list .category .subcategory label{
    width: 100%;
}
#vl_form .wrap_form .second_step .spares_auto .subcategory input[type="checkbox"]:checked + label,
#vl_form .wrap_form .second_step .spares_auto .subcategory input[type="checkbox"]:not(:checked) + label{
    line-height: 36px;
    padding-left: 30px;
}
#vl_form .wrap_form .second_step .spares_auto .subcategory input[type="checkbox"]:checked + label:before,
#vl_form .wrap_form .second_step .spares_auto .subcategory input[type="checkbox"]:not(:checked) + label:before{
    top: 10px;
}
#vl_form .wrap_form .second_step .spares_auto .subcategory input[type="checkbox"]:checked + label:after,
#vl_form .wrap_form .second_step .spares_auto .subcategory input[type="checkbox"]:not(:checked) + label:after{
    top: 13px;
}
#vl_form .wrap_form .second_step .spares_auto .main_list .category .subcategory{
    padding-bottom: 24px;
}
#vl_form .wrap_form .second_step .spares_auto .main_list .category .subcategory button{
    border-radius: 4px;
    background-color: #1565c0;
    color: #ffffff;
    font-family: "Segoe UI";
    font-size: 16px;
    font-weight: 700;
    margin-top: 8px;
    line-height: 34px;
    border: 0;
    outline: none;
    width: 165px;
    text-align: center;
}
#vl_form .wrap_form .second_step .add_spare button{
    text-decoration: none;
    display: block;
    width: 280px;
    text-align: center;
    color: #1565c0;
    font-family: "Segoe UI";
    font-size: 16px;
    font-weight: 400;
    background: #fff;
    cursor: pointer;
    line-height: 37px;
    border-radius: 4px;
    border: 1px solid #1565c0;
    height: 40px;
    margin-top: 20px;
}
#vl_form .wrap_form .second_step .add_spare button i{
    margin-right: 5px;
    font-size: 18px;
}
#vl_form .wrap_form .second_step .spares_txt .spare_input{
    margin-right: 17px;
}

#vl_form .wrap_form .second_step .spares_txt input{
    padding: 0px 25px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #9e9e9e;
    color: #4c4c4c;
    font-family: "Segoe UI";
    font-size: 16px;
    font-weight: 600;
    width: 280px;
}
#vl_form .wrap_form .second_step .spares_txt input::-webkit-input-placeholder,
#vl_form .wrap_form .second_step .enter_handler textarea::-webkit-input-placeholder{
    color: #4c4c4c;
    font-family: "Segoe UI";
    font-size: 16px;
    font-weight: 600;
}
#vl_form .wrap_form .second_step .spares_txt input::-moz-placeholder,
#vl_form .wrap_form .second_step .enter_handler textarea::-moz-placeholder{
    color: #4c4c4c;
    font-family: "Segoe UI";
    font-size: 16px;
    font-weight: 600;
}
#vl_form .wrap_form .second_step .spares_txt input:-moz-placeholder,
#vl_form .wrap_form .second_step .enter_handler textarea:-moz-placeholder{
    color: #4c4c4c;
    font-family: "Segoe UI";
    font-size: 16px;
    font-weight: 600;
}
#vl_form .wrap_form .second_step .spares_txt input:-ms-input-placeholder,
#vl_form .wrap_form .second_step .enter_handler textarea:-ms-input-placeholder{
    color: #4c4c4c;
    font-family: "Segoe UI";
    font-size: 16px;
    font-weight: 600;
}
#vl_form .wrap_form .second_step .enter_handler{
    margin-top: 20px;
}
#vl_form .wrap_form .second_step .enter_handler textarea{
    width: 100%;
    height: 140px;
    color: #4c4c4c;
    font-family: "Segoe UI";
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid #9e9e9e;
    background: #fff;
    padding: 20px 25px;
    resize: none;
}
#vl_form .wrap_form .second_step .wrap_photo{
    margin-top: 60px;
}
#vl_form .wrap_form .second_step .wrap_photo #fileSelect{
    display: block;
    text-decoration: none;
    line-height: 40px;
    color: #ffffff;
    font-family: "Segoe UI";
    font-size: 16px;
    font-weight: 400;
    /*line-height: 34px;*/
    box-shadow: 0 8px 26px 1px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
    cursor: pointer;
    background: #1565c0;
    border: 0;
    outline: none;
    text-align: center;
    width: 200px;
    height: 40px;
}
#filelist {
    /*margin:20px; */
    margin-bottom: 25px;
}

#filelist img {
    max-width: 195px;
    /*border-radius: 2px;*/
}
#filelist ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
#filelist li {
    position: relative;
    max-width: 195px;
    list-style: none;
    margin-right: 30px;
    margin-bottom: 15px;
}

#filelist span {
    position: absolute;
    right: 0.3em;
    background: #000;
    color: #f3f1ed;
    padding: 0 0.25em;
    border-radius: 2px;
    display: none;
}

#filelist span.size {
    top: 1.7em;
}

#filelist span.name {
    top: 0.3em;
}

#filelist .remove {
    position: absolute;
    right: 0.3em;
    top: 0.3em;
    /*background: #fff;*/
    color: #d9251d;
    /*padding: 0 0.25em;*/
    /*border-radius: 2px;*/
    /*display: none;*/
}

#filelist .remove i{
    font-size: 20px;
}
#filelist li:hover .remove {
    display: block;
}

/*.thumb {*/
/*    height: 75px;*/
/*    border: 1px solid #000;*/
/*    margin: 10px 5px 0 0;*/
/*}*/
#vl_form .wrap_form .second_step .wrap_photo button{
    color: #ffffff;
    font-family: "Segoe UI";
    font-size: 16px;
    font-weight: 400;
    /*line-height: 34px;*/
    box-shadow: 0 8px 26px 1px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
    cursor: pointer;
    background: #1565c0;
    border: 0;
    outline: none;
    text-align: center;
    width: 200px;
    height: 40px;
}
#vl_form .wrap_form .second_step .comments{
    margin-top: 20px;
}
#vl_form .wrap_form .second_step .comments textarea{
    width: 487px;
    height: 140px;
    color: #4c4c4c;
    font-family: "Segoe UI";
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid #9e9e9e;
    background: #fff;
    padding: 20px 25px;
    resize: none;
}
#vl_form .wrap_form .second_step .button_control{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 28px;
}
#vl_form .wrap_form .second_step .button_control .back_but a, #vl_form .wrap_form .second_step .button_control .send_button button{
    color: #4caf50;
    display: block;
    font-family: "Segoe UI";
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    border-radius: 4px;
    border: 1px solid #78c37b;
    width: 205px;

    text-align: center;
    height: 40px;
    cursor: pointer;
    margin-right: 30px;
    background: #fff;
}
#vl_form .wrap_form .second_step{
    padding-bottom: 25px;
    display: none;
}
#vl_form .wrap_form .second_step.dbbl{
    display: block;
}
#vl_form .wrap_form .second_step .spare_ob, #vl_form .wrap_form .second_step .work_ob{
    display: none;
}
#vl_form .wrap_form .second_step .spare_ob.dbbl, #vl_form .wrap_form .second_step .work_ob.dbbl{
    display: block;
}
#vl_form .wrap_form .second_step .button_control .send_button button{
    background-color: #4caf50;
    color: #fff;
    margin-right: 0;
    /*border: 1px solid #fff;*/
}
#how_work{
    margin-top: 50px;
}
#how_work h4{
    color: #282828;
    font-family: "Segoe UI";
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin: 0;
    margin-bottom: 60px;
}

#how_work .how_wrapper{
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin: 0 auto;
    background: url("../img/road.png") no-repeat center;
}
#how_work .how_wrapper .how_work__item{
    display: flex;
    align-items: center;
}
#how_work .how_wrapper .how_work__item .work_img{
    margin-right: 55px;
}
#how_work .how_wrapper .how_work__item.rotate{
    align-self: flex-end;
}
#how_work .how_wrapper .how_work__item.rotate .work_img{
    margin-right: 0px;
    margin-left: 0px;
}
#how_work .how_wrapper .how_work__item .work_hd{
    color: #282828;
    font-family: "Segoe UI";
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 13px;
}
#how_work .how_wrapper .how_work__item.rotate .work_p{
    max-width: 285px;
}
#how_work .how_wrapper .how_work__item .work_p{
    color: #282828;
    font-family: "Segoe UI";
    font-size: 18px;
    font-weight: 400;
    max-width: 290px;
    line-height: 30px;
}

#advantages{
    background: url("../img/adv_bg.png") no-repeat center/cover, #f1f1f1;
    overflow: hidden;
    padding-top: 175px;
    padding-bottom: 125px;
}
#advantages h4{
    color: #ffffff;
    font-family: "Segoe UI";
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin: 0;
    margin-top: 25px;
    margin-bottom: 60px;
}
#advantages .wrapper_adv{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
#advantages .wrapper_adv .advant_item{
    display: flex;
    align-items: flex-start;
    height: 130px;
    margin-bottom: 90px;

}
#advantages .wrapper_adv .advant_item .adv_img{
    margin-right: 30px;
}
#advantages .wrapper_adv .advant_item .adv_info {
    max-width: 200px;
}
#advantages .wrapper_adv .advant_item .adv_info p{
    color: #ffffff;
    font-family: "Segoe UI";
    font-size: 17px;
    font-weight: 400;
    line-height: 23px;
}
#advantages .wrapper_adv .advant_item .adv_info p span{
    color: #ffffff;
    display: block;
    margin-bottom: 20px;
    font-family: "Segoe UI";
    font-size: 36px;
    font-weight: 400;
    line-height: 34px;
}
#review{
    background: #f1f1f1;
    padding: 70px 0px;

}
#review h4{
    margin: 0;
    color: #282828;
    font-family: "Segoe UI";
    font-size: 40px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
}
#review .review_wrapper{
    padding-top: 20px;
}
#review .review_wrapper h6{
    margin: 0;
    color: #000000;
    font-family: "Segoe UI";
    font-size: 20px;
    font-weight: 600;
}
#review .review_wrapper .review_item{
    padding: 37px 23px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: #fff;
    margin-top: 26px;
    position: relative;
    box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.02);
    border-radius: 4px;
}
#review .review_wrapper .review_item .time_review{
    position: absolute;
    right: 23px;
    top: 20px;
    color: #afafaf;
    font-family: "Segoe UI";
    font-size: 16px;
    font-style: italic;
    font-weight: normal;

}
#review .review_wrapper .review_item .review_item__left{
    display: flex;
    align-items: flex-start;
    border-right: 1px solid #f0f0f0;
    padding-right: 60px;
    margin-right: 37px;
}
#review .review_wrapper .review_item .review_item__left .item_left__info p{
    color: #000000;
    font-family: "Segoe UI";
    font-size: 18px;
    margin-top: 15px;
    font-weight: 400;
}
#review .review_wrapper .review_item .review_item__left .item_left__info .raiting{
    margin-top: 25px;
}
/*#review .review_wrapper .review_item .review_item__left:after{*/
/*    content: '';*/
/*    background-color: #f0f0f0;*/
/*    width: 1px;*/
/*    height: 110px;*/

/*}*/
#review .review_wrapper .review_item .review_item__left .item_left__img{
    margin-right: 30px;
}
#review .review_wrapper .review_item .review_item__right p{
    max-width: 695px;
    color: #000000;
    margin-top: 12px;
    font-family: "Segoe UI";
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}
footer{
    background: #282828;
    padding: 45px 0px;
}
.wrap_foot{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.wrap_foot .foot_fir p{
    color: #ffffff;
    font-family: "Segoe UI";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 300px;
}
.wrap_foot .foot_fir .police{
    color: #ffffff;
    font-family: "Segoe UI";
    font-size: 14px;
    font-weight: 400;
    margin-top: 40px;
}
.wrap_foot .foot_menu{
    display: flex;
    justify-content: space-between;
}
.wrap_foot .foot_menu .foot_menu__left{
    margin-right: 110px;
}
.wrap_foot .foot_menu a{
    color: #ffffff;
    display: block;
    font-family: "Segoe UI";
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
    margin-bottom: 20px;
}
.wrap_foot .foot_address a{
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-family: "Segoe UI";
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}
.wrap_foot .foot_address{
    display: block;
    color: #ffffff;
    font-family: "Segoe UI";
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}
@media all and (max-width: 1185px) {
    #vl_form .wrap_form .second_step .spares_txt input{
        width: 250px;
        padding: 0px 15px;
    }
    #vl_form .wrap_form .second_step .check-material .spare_radio-item{
        margin-right: 10px;
    }
}
@media all and (max-width: 1175px) {
    #vl_form .wrap_form .form_body .form_body_first input{
        width: 280px;
    }
    #vl_form .wrap_form .form_body .form_body_first button{
        width: 135px;
    }
    #vl_form .wrap_form .form_body .form_body_third a.know{
        width: 230px;
    }
}

@media all and (max-width: 1110px) {
    #advantages h4{
        margin-top: 0;
    }
    #how_work{
        padding-bottom: 50px;
    }
    #advantages{
        padding-top: 75px;
        background: url(../img/adv_bg2.png) no-repeat center/cover, #f1f1f1;
    }
}
@media all and (max-width: 1060px) {
    #how_work .how_wrapper{
        background: none;
        max-width: 100%;
    }
    #how_work .how_wrapper .how_work__item{
        margin-bottom: 40px;
    }
}
@media all and (max-width: 1020px) {
    #vl_form .wrap_form .second_step .form_body{
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media all and (max-width: 940px) {
    #vl_form .wrap_form .second_step .spares_hand .spares_txt{
        flex-direction: column;
        align-items: flex-start;
    }
    #vl_form .wrap_form .second_step .spares_txt .spare_input{
        margin-right: 0;
        width: 100%;
        margin-bottom: 15px;
    }
    #vl_form .wrap_form .second_step .spares_txt input{
        width: 100%;
    }
    #vl_form .wrap_form .form_body .form_body_inner{
        flex-direction: column;
        align-items: center;
    }
    #vl_form .wrap_form .form_body p.your_car{
        text-align: center;
    }
    .form_body_first{
        width: 100%;
    }
    #vl_form .wrap_form .form_body .form_body_first input{
        width: 100%;
    }
    #vl_form .wrap_form .form_body .form_body_first button{
        margin-left: 0;
        display: block;
        margin: 0 auto;
        margin-top: 20px;
    }
    .wrap_foot .foot_fir p{
        max-width: 200px;
    }
    .wrap_foot .foot_menu .foot_menu__left{
        margin-right: 30px;
    }
}
@media all and (max-width: 880px) {
    #review .review_wrapper .review_item .review_item__left .item_left__img{
        margin-right: 15px;
    }
    #review .review_wrapper .review_item .review_item__left{
        padding-right: 30px;
        margin-right: 20px;
    }
}
@media all and (max-width: 740px) {
    #advantages .wrapper_adv .advant_item{
        height: auto;
        flex-direction: column;
        text-align: center;
        margin-bottom: 60px;

    }
    #advantages .wrapper_adv .advant_item .adv_img{
        margin-right: 0px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    #advantages .wrapper_adv{
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }
    #review .review_wrapper .review_item{
        flex-direction: column;
    }
    #review .review_wrapper .review_item .review_item__left{
        border: none;
        margin-bottom: 20px;
    }
    .wrap_foot{
        flex-wrap: wrap;
    }
    .foot_fir{
        margin-bottom: 20px;
    }
    .wrap_foot .foot_fir .police{
        margin-top: 30px;
    }
}
@media all and (max-width: 630px) {
    #vl_form .wrap_form .second_step .comments textarea{
        width: 100%;
    }
}
@media all and (max-width: 600px) {
    #vl_form .wrap_form .head_form h5{
        font-size: 14px;
    }
    #vl_form .wrap_form .head_form p{
        font-size: 12px;
    }
    #vl_form .wrap_form .second_step .button_control .back_but a{
        margin-right: 0;
        margin-bottom: 15px;
    }

    #vl_form .wrap_form .second_step .spares_auto .spares_auto-head{
        flex-direction: column;
        align-items: flex-start;
    }
    .spare_time{
        margin-top: 10px;
    }
    #vl_form .wrap_form .second_step .button_control{
        flex-direction: column;
    }

}
@media all and (max-width: 500px) {
    #vl_form .wrap_form .second_step .form_body{
        padding-left: 20px;
        padding-right: 20px;
    }
    .wrap_foot{
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }
    .wrap_foot .foot_menu{
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    .wrap_foot .foot_menu .foot_menu__left{
        margin-right: 0;
    }
    .wrap_foot .foot_fir p{
        max-width: 100%;

    }
    .foot_fir{
        text-align: center;
    }
    .wrap_foot .foot_address{
        width: 100%;
        text-align: center;
    }
}
@media all and (max-width: 470px) {

    #how_work .how_wrapper .how_work__item .work_img{
        margin-right: 15px;
    }
    #how_work .how_wrapper .how_work__item.rotate .work_img{
        margin-left: 15px;
    }
    #how_work .how_wrapper .how_work__item .work_hd{
        font-size: 20px;
    }
    #how_work .how_wrapper .how_work__item .work_p{
        font-size: 14px;
    }
    #review .review_wrapper h6{
        font-size: 16px;
    }
    #review .review_wrapper .review_item{
        padding: 37px 10px;
    }
    #review .review_wrapper .review_item .review_item__right p{
        font-size: 15px;
    }
    #review .review_wrapper .review_item .time_review{
        top: 12px;
        font-size: 12px;
    }

}
@media all and (max-width: 440px) {
    .vl_header h1{
        font-size: 32px;
    }
    .vl_header h6{
        font-size: 16px;
    }
}
@media all and (max-width: 425px) {
    #vl_form .wrap_form .form_body{
        padding-left: 15px;
        padding-right: 15px;
    }
    #vl_form .wrap_form .second_step .spares_auto .main_list .select_li{
        padding-left: 10px;
        padding-right: 10px;
    }
    #vl_form .wrap_form .second_step .spares_auto .main_list .category > li{
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media all and (max-width: 390px) {
    #vl_form .wrap_form .second_step .add_spare button{
        width: 100%;
    }
    #vl_form .wrap_form .second_step .check-material label{
        font-size: 13px;
    }
    #vl_form .wrap_form .second_step .check-material .spare_radio-item{
        margin-right: 5px;
    }
    #how_work .how_wrapper .how_work__item{
        flex-direction: column;

    }
    #how_work .how_wrapper .how_work__item .work_img{
        margin-right: 0;
    }
    #how_work .how_wrapper .how_work__item.rotate .work_img{
        margin-left: 0;
    }
    #how_work .how_wrapper{
        align-items: center;
    }
    #how_work .how_wrapper .how_work__item.rotate{
        align-self: auto;
    }
    .work_txt{
        text-align: center;
        order: 1
    }
    #how_work .how_wrapper .how_work__item .work_img{
        order: 0;
        margin-bottom: 15px;
    }
}
.ui-datepicker{
    width: 16em;
}