@font-face {
  font-family: "latolight";
  src: url("../fonts/latolight.woff") format("woff"), url("../fonts/latolight.ttf") format("truetype"), url("../fonts/latolight.woff2") format("woff2");
}
@font-face {
  font-family: "latoregular";
  src: url("../fonts/latoregular.woff") format("woff"), url("../fonts/latoregular.ttf") format("truetype"), url("../fonts/latoregular.woff2") format("woff2");
}
@font-face {
  font-family: "latobold";
  src: url("../fonts/latobold.woff") format("woff"), url("../fonts/latobold.ttf") format("truetype"), url("../fonts/latobold.woff2") format("woff2");
}
@font-face {
  font-family: "latosemibold";
  src: url("../fonts/latosemibold.woff") format("woff"), url("../fonts/latosemibold.ttf") format("truetype"), url("../fonts/latosemibold.woff2") format("woff2");
}
@font-face {
  font-family: "SegoeUI";
  src: url("../fonts/SegoeUI.woff") format("woff"), url("../fonts/SegoeUI.ttf") format("truetype"), url("../fonts/SegoeUI.eot");
}
#vl_form .wrap_form .second_step {
  background: #fff;
}
#vl_form .wrap_form .second_step .close_two-step {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.dark_overlay {
  display: none;
  z-index: 105;
  position: fixed;
  background: rgba(0, 0, 0, 0.95);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.transparent_overlay {
  display: none;
  z-index: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.close_spare-red {
  cursor: pointer;
  display: none;
}

.close_spare-red.dbbl {
  display: block;
}

.transparent_overlay.dbbl {
  display: block;
}

.dark_overlay.dbbl {
  display: block;
}

#vl_form .wrap_form .second_step {
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  margin: 0 auto;
  width: 90%;
  max-width: 1140px;
  z-index: 205;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1140px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  margin: 0;
}

#vl_form.search_head .wrap_form .second_step .spares_txt input {
  width: 230px;
  padding: 0px 10px;
  padding-right: 6px;
  height: 49px;
}

#vl_form.search_head .wrap_form .second_step .add_spare button {
  width: 230px;
  height: 49px;
}

.large_button {
  border: 1px solid #dbe1eb;
  text-align: center;
  display: block;
  text-decoration: none;
  padding: 8px 0px;
  margin-top: 15px;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.large_button:hover {
  border: 1px solid #006bc2;
}
.large_button span {
  text-align: center;
  color: #006bc2;
  font-family: "latolight";
  font-size: 14px;
  line-height: 27px;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #006bc2;
}

#vl_form.search_head .wrap_form .second_step {
  position: static;
  -webkit-transform: none;
          transform: none;
  display: block;
  width: 100%;
  max-width: 100%;
}

#vl_form.search_head .wrap_form .form_body {
  padding: 0px;
  margin-top: 40px;
}

header.search_head {
  padding-top: 15px;
  padding-bottom: 15px;
}
header.search_head .top_line {
  font-family: "latolight";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header.search_head .top_line .about_info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
header.search_head .top_line .about_info ul li {
  margin-right: 25px;
}
header.search_head .top_line .about_info ul li a {
  color: #3e4043;
  font-size: 14px;
  line-height: 30px;
  text-decoration: none;
}
header.search_head .top_line .loc_pr ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
header.search_head .top_line .loc_pr ul li {
  margin-left: 19px;
}
header.search_head .top_line .loc_pr ul li a {
  color: #1565c0;
  font-family: "latoregular";
  font-size: 14px;
  line-height: 30px;
  text-decoration: none;
}
header.search_head .main_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
header.search_head .main_head .logo {
  margin-bottom: -10px;
}
header.search_head .main_head .logo img {
  display: block;
}
header.search_head .main_head .search_repair {
  max-width: 755px;
  width: 100%;
}
header.search_head .main_head .search_repair .zayavka.dbbl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header.search_head .main_head .search_repair .zayavka {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  margin: 0 auto;
  width: 90%;
  padding: 50px;
  z-index: 200;
  max-width: 1140px;
  background: #fff;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
header.search_head .main_head .search_repair .zayavka .select {
  border: 1px solid #b8b8b8;
  margin-right: 10px;
}
header.search_head .main_head .search_repair .zayavka .select .option_wrapper {
  z-index: 999;
  border: 1px solid #3e4043;
  border-top: none;
}
header.search_head .main_head .search_repair .zayavka button.continue_step {
  display: none;
}
header.search_head .main_head .search_repair .hint {
  margin-bottom: 10px;
}
header.search_head .main_head .search_repair .hint ul li.active_search a {
  color: #fff;
}
header.search_head .main_head .search_repair .hint ul li {
  padding: 5px 10px;
  font-size: 10px;
}
header.search_head .main_head .search_repair .hint ul li a {
  padding-bottom: 3px;
  font-family: "latoregular";
  font-size: 10px;
  text-transform: uppercase;
  color: #535353;
}
header.search_head .main_head .search_repair .search_field {
  margin-bottom: 0;
  width: 100%;
}
header.search_head .main_head .search_repair .search_field input {
  font-size: 14px;
  padding: 0px 15px;
}
header.search_head .main_head .search_repair .search_field button {
  font-size: 16px;
  width: 131px;
}
header.search_head .main_head .search_repair .search_field .relet_inp {
  max-width: 620px;
  width: 100%;
  height: 36px;
}
header.search_head .main_head .search_repair .search_field input {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #b8b8b8;
}
header.search_head .main_head .profile_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header.search_head .main_head .profile_icons a {
  display: block;
}
header.search_head .main_head .profile_icons .profile_icons-cart {
  margin-right: 20px;
}
header.search_head .main_head .profile_icons .profile_icons-cart a {
  position: relative;
  text-decoration: none;
  display: block;
}
header.search_head .main_head .profile_icons .profile_icons-cart a span {
  position: absolute;
  background: #1565c0;
  width: 17px;
  top: 11px;
  right: -6px;
  height: 17px;
  line-height: 17px;
  font-size: 12px;
  font-family: "latoregular";
  border-radius: 50%;
  color: #fff;
  text-align: center;
}

@media all and (max-width: 1195px) {
  header.search_head .main_head .search_repair {
    margin: 0px 10px;
  }

  header.search_head .main_head .search_repair .search_field a.how {
    font-size: 10px;
  }
}
@media all and (max-width: 895px) {
  header.search_head .main_head .search_repair .search_field a.how.dbbl {
    display: none;
  }
}
@media all and (max-width: 800px) {
  header.search_head .main_head {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  header.search_head .main_head .logo {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }

  header.search_head .main_head .search_repair {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  header.search_head .main_head .profile_icons {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  header.search_head .main_head .logo {
    margin-bottom: 10px;
  }
}
@media all and (max-width: 620px) {
  header.search_head .top_line .about_info ul li {
    margin-right: 6px;
  }

  header.search_head .top_line .loc_pr ul li {
    margin-left: 6px;
  }

  header.search_head .main_head .search_repair .zayavka .select {
    max-width: 100%;
    margin-right: 0;
  }

  header.search_head .search_repair .zayavka span.head_name {
    font-size: 23px;
  }
}
@media all and (max-width: 510px) {
  header.search_head .top_line .about_info ul li a {
    font-size: 11px;
  }

  header.search_head .top_line .loc_pr ul li a {
    font-size: 11px;
  }

  header.search_head .main_head .search_repair {
    margin-left: 0;
    margin-right: 0;
  }
}
@media all and (max-width: 430px) {
  header.search_head .main_head .search_repair .zayavka {
    padding: 50px 20px;
  }

  header.search_head .main_head .search_repair .hint ul li {
    padding: 5px 2px;
  }

  header.search_head .main_head .search_repair .hint ul li a {
    font-size: 8px;
  }
}
@media all and (max-width: 410px) {
  header.search_head .top_line .loc_pr ul li:first-child {
    display: none;
  }
}
@media all and (max-width: 360px) {
  header.search_head .main_head .logo {
    max-width: 190px;
  }
  header.search_head .main_head .logo img {
    max-width: 100%;
  }

  header.search_head .main_head .search_repair .search_field button {
    width: 105px;
    font-size: 14px;
  }
}
header.main_page .top_head {
  padding: 5px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header.main_page .top_head .mobile_bars {
  display: none;
}
header.main_page .top_head .logo img {
  max-width: 240px;
  height: auto;
}
header.main_page .top_head nav {
  display: block;
}
header.main_page .top_head nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header.main_page .top_head nav ul li {
  margin-right: 20px;
}
header.main_page .top_head nav ul li:last-child {
  margin-right: 0;
}
header.main_page .top_head nav ul li a {
  font-size: 16px;
  color: #424242;
  text-decoration: none;
  font-family: "latoregular";
}
header.main_page .top_head nav ul li a:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #1565c0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: translateY(20px) scale(0);
          transform: translateY(20px) scale(0);
}
header.main_page .top_head nav ul li a:hover:after {
  -webkit-transform: translateY(20px) scale(1);
          transform: translateY(20px) scale(1);
}
header.main_page .top_head .user_concret {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header.main_page .top_head .user_concret .user_marker {
  margin-right: 15px;
}
header.main_page .top_head .user_concret .user_marker span {
  font-size: 14px;
  color: #1565c0;
  font-family: "latoregular";
}
header.main_page .top_head .user_concret .user_marker span i {
  font-size: 18px;
}
header.main_page .top_head .user_concret .user_account a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header.main_page .top_head .user_concret .user_account a img {
  margin-right: 10px;
}

#banner_main {
  background: url(../img/banner_bg.png) no-repeat center/cover;
  padding-top: 100px;
  padding-bottom: 65px;
}
#banner_main h1 {
  color: #ffffff;
  margin: 0;
  text-align: center;
  font-family: "latosemibold";
  margin-bottom: 55px;
  font-size: 46px;
  text-align: left;
  max-width: 1005px;
  margin-left: auto;
  margin-right: auto;
}

.search_repair {
  max-width: 1005px;
  margin: 0 auto;
}
.search_repair .hint {
  margin-bottom: 15px;
}
.search_repair .hint ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}
.search_repair .hint ul li {
  color: #535353;
  font-family: "latoregular";
  font-size: 12px;
  padding: 9px 15px;
  text-transform: uppercase;
}
.search_repair .hint ul li a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #535353;
  padding-bottom: 9px;
}
.search_repair .hint ul li.active_search {
  background: #1565c0;
  border-radius: 6px;
}
.search_repair .hint ul li.active_search a {
  border-bottom: 0;
  color: #fff;
  text-decoration: none;
}
.search_repair .zayavka.dbbl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.search_repair .zayavka {
  display: none;
  margin-bottom: 110px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.search_repair .zayavka span.head_name {
  width: 100%;
  color: #171a1d;
  margin: 0;
  font-family: "latobold";
  font-size: 25px;
  margin-bottom: 15px;
}
.search_repair .zayavka button.continue_step {
  cursor: pointer;
  color: #ffffff;
  font-family: "latosemibold";
  font-size: 20px;
  margin-bottom: 15px;
  max-width: 230px;
  width: 100%;
  border-radius: 5px;
  border: none;
  background: -webkit-gradient(linear, left bottom, left top, from(#1565c0), to(#2779d6));
  background: linear-gradient(to top, #1565c0 0%, #2779d6 100%);
}
.search_repair .zayavka .option_wrapper.dbbl {
  display: block;
}
.search_repair .zayavka .option_wrapper {
  z-index: 99;
  max-height: 200px;
  height: auto;
  overflow-y: auto;
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  top: 100%;
}
.search_repair .zayavka .option_wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.search_repair .zayavka .option_wrapper ul li {
  background: #fff;
  border-top: 1px solid #3e4043;
  color: #3e4043;
  padding: 6px 10px;
  cursor: pointer;
}
.search_repair .zayavka .select {
  cursor: pointer;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fff;
  max-width: 230px;
  width: 100%;
  padding: 15px 20px;
  color: #3e4043;
  font-family: "latolight";
  font-size: 15px;
  border-radius: 5px;
}
.search_repair .zayavka .select span {
  display: block;
  pointer-events: none;
}
.search_repair .search_field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 150px;
}
.search_repair .search_field .relet_inp {
  position: relative;
  width: 810px;
  height: 60px;
}
.search_repair .search_field input {
  display: block;
  color: #3e4043;
  font-family: "latolight";
  font-size: 15px;
  line-height: 30px;
  -webkit-box-shadow: 0 0 26px 1px rgba(0, 0, 0, 0.09);
          box-shadow: 0 0 26px 1px rgba(0, 0, 0, 0.09);
  background-color: #ffffff;
  border: 0;
  outline: none;
  width: 100%;
  height: 100%;
  padding: 0px 30px;
  border-radius: 5px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.search_repair .search_field a.how {
  display: none;
  color: #ababab;
  font-family: "latolight";
  font-size: 15px;
  position: absolute;
  text-decoration: none;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.search_repair .search_field a.how.dbbl {
  display: block;
}
.search_repair .search_field button {
  display: block;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 195px;
  color: #ffffff;
  font-family: "latobold";
  font-size: 20px;
  line-height: 30px;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#1565c0), to(#2779d6));
  background: linear-gradient(to top, #1565c0 0%, #2779d6 100%);
}
.search_repair .rep_advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.search_repair .rep_advantages .rep_advantages-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.search_repair .rep_advantages .rep_advantages-item .logo_adv {
  margin-top: 3px;
}
.search_repair .rep_advantages .rep_advantages-item .text_adv {
  margin-left: 20px;
}
.search_repair .rep_advantages .rep_advantages-item .text_adv h6 {
  color: #ffffff;
  font-family: "latobold";
  font-size: 18px;
  margin: 0;
  margin-bottom: 10px;
}
.search_repair .rep_advantages .rep_advantages-item .text_adv p {
  color: #ffffff;
  margin: 0;
  font-family: "latolight";
  font-size: 14px;
  line-height: 20px;
}

#popular-auto {
  padding: 60px 0px;
}
#popular-auto h3 {
  color: #171a1d;
  margin: 0;
  font-family: "latobold";
  font-size: 33px;
  line-height: 24px;
  margin-bottom: 40px;
}
#popular-auto .popular-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#popular-auto .popular-list .popular_item ul {
  margin: 0;
  padding: 0;
  margin-top: 30px;
  list-style: none;
}
#popular-auto .popular-list .popular_item ul li a {
  color: #006bc2;
  font-family: "latolight";
  font-size: 14px;
  line-height: 27px;
  text-decoration: underline;
  text-transform: uppercase;
}
#popular-auto .popular-list .popular_item .model_letter span {
  color: #171a1d;
  font-family: "latobold";
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
}

#how-run {
  padding-top: 63px;
  padding-bottom: 77px;
  background: url(../img/how_bg.png) no-repeat center/cover;
}
#how-run h3 {
  color: #ffffff;
  font-family: "latobold";
  font-size: 33px;
  line-height: 24px;
}
#how-run .wrap-how-run {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
#how-run .wrap-how-run .steps .step-item {
  background: url("../img/line_dashed.png") repeat-y 17px 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 35px;
}
#how-run .wrap-how-run .steps .step-item:last-child {
  background: none;
}
#how-run .wrap-how-run .steps .step-item .step-num {
  margin-right: 15px;
  background-color: #f5f5f5;
  width: 35px;
  height: 35px;
  min-width: 35px;
  min-height: 35px;
  border-radius: 50%;
  text-align: center;
}
#how-run .wrap-how-run .steps .step-item .step-num span {
  color: #1565c0;
  font-family: "latobold";
  font-size: 20px;
  line-height: 36px;
}
#how-run .wrap-how-run .steps .step-item .step-txt h6 {
  margin: 0;
  color: #ffffff;
  font-family: "latobold";
  font-size: 20px;
  margin-bottom: 8px;
  margin-top: 5px;
}
#how-run .wrap-how-run .steps .step-item .step-txt p {
  color: #ffffff;
  font-family: "latoregular";
  font-size: 15px;
  max-width: 360px;
  line-height: 24px;
}
#how-run .wrap-how-run .video_description {
  -webkit-box-shadow: 0 0 27px rgba(0, 0, 0, 0.17);
          box-shadow: 0 0 27px rgba(0, 0, 0, 0.17);
}
#how-run .wrap-how-run .video_description iframe {
  display: block;
  width: 650px;
  max-width: 100%;
  height: 365px;
}

#popular-category {
  padding-top: 70px;
  padding-bottom: 50px;
}
#popular-category h3 {
  color: #171a1d;
  font-family: "latobold";
  font-size: 33px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 45px;
}
#popular-category .wrap_popular-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#popular-category .wrap_popular-company .popular_company-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 25%;
  margin-bottom: 25px;
}
#popular-category .wrap_popular-company .popular_company-item .popular_item-txt h5 {
  color: #3c434c;
  font-family: "latobold";
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  margin-top: 12px;
  margin-bottom: 10px;
}
#popular-category .wrap_popular-company .popular_company-item .popular_item-txt ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#popular-category .wrap_popular-company .popular_company-item .popular_item-txt ul li {
  margin-bottom: 10px;
}
#popular-category .wrap_popular-company .popular_company-item .popular_item-txt ul li a {
  color: #006bc2;
  font-family: "latolight";
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  border-bottom: 1px solid #006bc2;
  line-height: 18px;
}
#popular-category .watch_all_categ {
  margin-top: 15px;
}

#what_say {
  padding-top: 44px;
  padding-bottom: 68px;
  background: #f5f5f5;
}
#what_say .slick-prev, #what_say .slick-next {
  width: auto;
  height: auto;
}
#what_say h3 {
  color: #171a1d;
  font-family: "latobold";
  font-size: 33px;
  margin: 0;
  margin-bottom: 25px;
}
#what_say .say_wrap-review {
  background: transparent;
}
#what_say .say_wrap-review .review_say-item__offer {
  padding-left: 15px;
  padding-right: 15px;
  outline: none;
}
#what_say .say_wrap-review .review_say-item {
  outline: none;
  background: #ffffff;
  padding: 30px 20px 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 380px;
}
#what_say .say_wrap-review .review_say-item h6 {
  color: #000000;
  font-family: "latobold";
  font-size: 18px;
  margin: 0;
}
#what_say .say_wrap-review .review_say-item span {
  color: #000000;
  font-family: "latolight";
  font-size: 16px;
  display: block;
  margin: 10px 0px;
}
#what_say .say_wrap-review .review_say-item p {
  color: #000000;
  font-family: "latoregular";
  font-size: 16px;
  line-height: 28px;
  max-width: 295px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#what_say .say_wrap-review .review_say-item .review_date {
  color: #afafaf;
  font-family: "latoregular";
  font-size: 15px;
}

footer {
  background: #282828;
  padding: 45px 0px;
}
footer .footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer-list .policy p {
  color: #ffffff;
  font-family: "SegoeUI";
  font-size: 16px;
  line-height: 24px;
  max-width: 300px;
  margin-bottom: 40px;
}
footer .footer-list .policy span {
  color: #ffffff;
  font-family: "SegoeUI";
  font-size: 14px;
  line-height: 34px;
}
footer .footer-list .foot_navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .footer-list .foot_navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: 110px;
}
footer .footer-list .foot_navigation ul:last-child {
  margin-right: 0;
}
footer .footer-list .foot_navigation ul li a {
  color: #ffffff;
  font-family: "SegoeUI";
  font-size: 16px;
  font-weight: 400;
  line-height: 34px;
  text-decoration: underline;
}
footer .footer-list .foot_feedback a {
  display: block;
  color: #ffffff;
  font-family: "SegoeUI";
  margin-bottom: 18px;
  font-size: 16px;
  font-weight: 400;
}
footer .footer-list .foot_feedback span {
  display: block;
  color: #ffffff;
  font-family: "SegoeUI";
  font-size: 16px;
}

.overlay {
  display: none;
  position: fixed;
  background: rgba(255, 255, 255, 0.95);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.overlay.add_block {
  display: block;
}

header.main_page .top_head .mobile_bars {
  z-index: 99;
}

header.main_page .top_head .logo {
  z-index: 99;
}

@media all and (max-width: 1185px) {
  #how-run .wrap-how-run .video_description iframe {
    width: 465px;
    height: 265px;
  }
}
@media all and (max-width: 992px) {
  #how-run .wrap-how-run {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  #how-run .wrap-how-run .steps .step-item .step-txt p {
    max-width: 100%;
  }

  #how-run .wrap-how-run .video_description {
    width: 100%;
  }

  #how-run .wrap-how-run .video_description iframe {
    width: 100%;
    height: auto;
    min-height: 350px;
  }
}
@media all and (max-width: 940px) {
  #banner_main h1 {
    max-width: 100%;
    text-align: center;
  }

  #banner_main {
    padding-top: 150px;
  }

  header.main_page {
    z-index: 999;
    position: fixed;
    width: 100%;
    background: #fff;
  }

  footer .footer-list .foot_navigation ul {
    margin-right: 20px;
  }

  header.main_page .top_head .user_concret {
    display: none;
  }

  header.main_page .top_head nav {
    display: none;
    width: 90%;
    height: 100%;
    position: fixed;
    top: 45%;
    margin: 0 auto;
  }

  header.main_page .top_head nav.add_block {
    display: block;
  }

  header.main_page .top_head nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  header.main_page .top_head nav ul li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  header.main_page .top_head nav ul li a {
    font-size: 25px;
  }

  header.main_page .top_head nav ul li a:after {
    display: none;
  }

  header.main_page .top_head .mobile_bars {
    display: block;
    margin-top: -8px;
  }
  header.main_page .top_head .mobile_bars i {
    font-size: 30px;
    outline: none;
  }
}
@media all and (max-width: 880px) {
  footer .footer-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  #popular-auto .popular-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .popular_item {
    margin-bottom: 15px;
    width: 33%;
  }

  #popular-category .wrap_popular-company .popular_company-item {
    width: 33%;
  }
}
@media all and (max-width: 768px) {
  #what_say .say_wrap-review .review_say-item p {
    min-height: 340px;
  }

  #what_say .say_wrap-review .review_say-item {
    min-height: auto;
  }
}
@media all and (max-width: 680px) {
  #banner_main .search_repair .search_field a.how {
    display: none;
  }

  #banner_main .search_repair .search_field a.how.dbbl {
    display: none;
  }

  footer .footer-list .policy p {
    max-width: 100%;
  }
}
@media all and (max-width: 550px) {
  #banner_main .search_repair .zayavka {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  #banner_main .search_repair .zayavka .select {
    max-width: 100%;
  }

  #banner_main .search_repair .zayavka button.continue_step {
    max-width: 100%;
    height: 47px;
  }

  #what_say .container {
    width: 85%;
  }

  .foot_feedback {
    margin-top: 20px;
  }

  #what_say .say_wrap-review .review_say-item p {
    min-height: auto;
  }

  #what_say .say_wrap-review .review_say-item p {
    max-width: 100%;
  }

  .slick-next {
    right: -20px;
  }

  .slick-prev {
    left: -20px;
  }

  #what_say .say_wrap-review .review_say-item__offer {
    padding-left: 10px;
    padding-right: 10px;
    background: #fff;
  }

  #what_say .say_wrap-review .review_say-item {
    padding-left: 0px;
    padding-right: 0px;
  }

  #banner_main .search_repair .rep_advantages {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  #banner_main .search_repair .rep_advantages .rep_advantages-item {
    margin-bottom: 15px;
    width: 300px;
  }

  #banner_main .search_repair .search_field button {
    font-size: 15px;
  }

  #banner_main .search_repair .search_field {
    margin-bottom: 50px;
  }

  #banner_main {
    padding-top: 140px;
    padding-bottom: 45px;
  }

  #banner_main .search_repair .hint ul li {
    padding: 9px 5px;
  }

  #banner_main h1 {
    font-size: 40px;
  }

  #banner_main .search_repair .hint ul li {
    font-size: 10px;
  }

  #popular-category .wrap_popular-company .popular_company-item {
    width: 50%;
  }
}
@media all and (max-width: 480px) {
  #popular-category h3 {
    font-size: 26px;
    text-align: center;
  }

  #popular-category .wrap_popular-company .popular_company-item {
    width: 100%;
    text-align: center;
  }
  #popular-category .wrap_popular-company .popular_company-item .item_pict {
    width: 100%;
    text-align: center;
  }
  #popular-category .wrap_popular-company .popular_company-item .popular_item-txt {
    width: 100%;
    text-align: center;
  }
}
@media all and (max-width: 440px) {
  #banner_main .search_repair .search_field .relet_inp {
    height: auto;
  }

  #banner_main .search_repair .search_field input {
    height: auto;
    padding: 10px 20px;
  }

  #banner_main .search_repair .search_field button {
    font-size: 11px;
  }

  #banner_main .search_repair .hint ul li {
    font-size: 8px;
  }

  #banner_main h1 {
    font-size: 30px;
  }

  #popular-auto h3 {
    line-height: 35px;
    margin-bottom: 20px;
  }

  #how-run .wrap-how-run .video_description iframe {
    min-height: 250px;
  }
}
@media all and (max-width: 350px) {
  #what_say h3 {
    font-size: 30px;
  }
}

/*# sourceMappingURL=style.css.map */