@font-face {
  font-family: "latolight";
  src: url("../fonts/latolight.woff") format("woff"), url("../fonts/latolight.ttf") format("truetype"), url("../fonts/latolight.woff2") format("woff2");
}
@font-face {
  font-family: "latoregular";
  src: url("../fonts/latoregular.woff") format("woff"), url("../fonts/latoregular.ttf") format("truetype"), url("../fonts/latoregular.woff2") format("woff2");
}
@font-face {
  font-family: "latobold";
  src: url("../fonts/latobold.woff") format("woff"), url("../fonts/latobold.ttf") format("truetype"), url("../fonts/latobold.woff2") format("woff2");
}
@font-face {
  font-family: "latosemibold";
  src: url("../fonts/latosemibold.woff") format("woff"), url("../fonts/latosemibold.ttf") format("truetype"), url("../fonts/latosemibold.woff2") format("woff2");
}
@font-face {
  font-family: "SegoeUI";
  src: url("../fonts/SegoeUI.woff") format("woff"), url("../fonts/SegoeUI.ttf") format("truetype"), url("../fonts/SegoeUI.eot");
}
body {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1140px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  margin: 0;
}

.large_button {
  border: 1px solid #dbe1eb;
  text-align: center;
  display: block;
  text-decoration: none;
  padding: 8px 0px;
  margin-top: 15px;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.large_button:hover {
  border: 1px solid #006bc2;
}
.large_button span {
  text-align: center;
  color: #006bc2;
  font-family: "latolight";
  font-size: 14px;
  line-height: 27px;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #006bc2;
}

header.search_head {
  padding-top: 15px;
}
header.search_head .top_line {
  font-family: latolight;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header.search_head .top_line .about_info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
header.search_head .top_line .about_info ul li {
  margin-right: 25px;
}
header.search_head .top_line .about_info ul li a {
  color: #3e4043;
  font-size: 14px;
  line-height: 30px;
  text-decoration: none;
}
header.search_head .top_line .loc_pr ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
header.search_head .top_line .loc_pr ul li {
  margin-left: 19px;
}
header.search_head .top_line .loc_pr ul li a {
  color: #1565c0;
  font-family: "latoregular";
  font-size: 14px;
  line-height: 30px;
  text-decoration: none;
}
header.search_head .main_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
header.search_head .main_head .logo {
  margin-bottom: -10px;
}
header.search_head .main_head .logo img {
  display: block;
}
header.search_head .main_head .search {
  position: relative;
  margin-left: 20px;
  margin-right: 30px;
  width: 100%;
}
header.search_head .main_head .search .hint {
  margin-bottom: 10px;
}
header.search_head .main_head .search .hint ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}
header.search_head .main_head .search .hint ul li {
  color: #535353;
  font-family: "latoregular";
  font-size: 10px;
  padding: 5px 10px;
  text-transform: uppercase;
}
header.search_head .main_head .search .hint ul li a {
  color: #535353;
  text-decoration: none;
  border-bottom: 1px solid #535353;
  padding-bottom: 2px;
}
header.search_head .main_head .search .hint ul li.active_search {
  background: #1565c0;
  border-radius: 6px;
}
header.search_head .main_head .search .hint ul li.active_search a {
  border-bottom: 0;
  color: #fff;
  text-decoration: none;
}
header.search_head .main_head .search .search_controls {
  position: relative;
}
header.search_head .main_head .search .search_controls .search_field input {
  border: 1px solid #b8b8b8;
  color: #3e4043;
  font-family: "latolight";
  font-size: 14px;
  line-height: 30px;
  width: 100%;
  padding: 2px 17px;
  padding-right: 140px;
  border-radius: 5px;
  outline: none;
}
header.search_head .main_head .search .search_controls .search_button {
  position: absolute;
  top: 0;
  right: 0;
}
header.search_head .main_head .search .search_controls .search_button button {
  color: #ffffff;
  font-family: "latobold";
  font-size: 16px;
  line-height: 30px;
  border: 1px solid #1565c0;
  background: #1565c0;
  outline: none;
  cursor: pointer;
  padding: 2px 30px;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
header.search_head .main_head .profile_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header.search_head .main_head .profile_icons a {
  display: block;
}
header.search_head .main_head .profile_icons .profile_icons-cart {
  margin-right: 20px;
}
header.search_head .main_head .profile_icons .profile_icons-cart a {
  position: relative;
  text-decoration: none;
  display: block;
}
header.search_head .main_head .profile_icons .profile_icons-cart a span {
  position: absolute;
  background: #1565c0;
  width: 17px;
  top: 11px;
  right: -6px;
  height: 17px;
  line-height: 17px;
  font-size: 12px;
  font-family: "latoregular";
  border-radius: 50%;
  color: #fff;
  text-align: center;
}

header .top_head {
  padding: 5px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .top_head .logo img {
  max-width: 240px;
  height: auto;
}
header .top_head nav {
  display: block;
}
header .top_head nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .top_head nav ul li {
  margin-right: 20px;
}
header .top_head nav ul li:last-child {
  margin-right: 0;
}
header .top_head nav ul li a {
  font-size: 16px;
  color: #424242;
  text-decoration: none;
  font-family: "latoregular";
}
header .top_head nav ul li a:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #1565c0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: translateY(20px) scale(0);
          transform: translateY(20px) scale(0);
}
header .top_head nav ul li a:hover:after {
  -webkit-transform: translateY(20px) scale(1);
          transform: translateY(20px) scale(1);
}
header .top_head .user_concret {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .top_head .user_concret .user_marker span {
  font-size: 14px;
  color: #1565c0;
  font-family: "latoregular";
}
header .top_head .user_concret .user_marker span i {
  font-size: 18px;
}

#banner_main {
  background: url(../img/banner_bg.png) no-repeat center/cover;
  padding-top: 100px;
  padding-bottom: 65px;
}
#banner_main h1 {
  color: #ffffff;
  margin: 0;
  text-align: center;
  font-family: "latosemibold";
  margin-bottom: 55px;
  font-size: 46px;
}
#banner_main .search_repair {
  max-width: 1005px;
  margin: 0 auto;
}
#banner_main .search_repair .hint {
  margin-bottom: 15px;
}
#banner_main .search_repair .hint ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}
#banner_main .search_repair .hint ul li {
  color: #535353;
  font-family: "latoregular";
  font-size: 12px;
  padding: 9px 15px;
  text-transform: uppercase;
}
#banner_main .search_repair .hint ul li a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #535353;
  padding-bottom: 9px;
}
#banner_main .search_repair .hint ul li.active_search {
  background: #1565c0;
  border-radius: 6px;
}
#banner_main .search_repair .hint ul li.active_search a {
  border-bottom: 0;
  color: #fff;
  text-decoration: none;
}
#banner_main .search_repair .search_field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 150px;
}
#banner_main .search_repair .search_field input {
  display: block;
  color: #3e4043;
  font-family: "latolight";
  font-size: 15px;
  line-height: 30px;
  -webkit-box-shadow: 0 0 26px 1px rgba(0, 0, 0, 0.09);
          box-shadow: 0 0 26px 1px rgba(0, 0, 0, 0.09);
  background-color: #ffffff;
  border: 0;
  outline: none;
  padding: 0px 30px;
  height: 60px;
  border-radius: 5px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  width: 810px;
}
#banner_main .search_repair .search_field button {
  display: block;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 195px;
  color: #ffffff;
  font-family: "latobold";
  font-size: 20px;
  line-height: 30px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1565c0), to(#2779d6));
  background: linear-gradient(to top, #1565c0 0%, #2779d6 100%);
}
#banner_main .search_repair .rep_advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#banner_main .search_repair .rep_advantages .rep_advantages-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#banner_main .search_repair .rep_advantages .rep_advantages-item .logo_adv {
  margin-top: 3px;
}
#banner_main .search_repair .rep_advantages .rep_advantages-item .text_adv {
  margin-left: 20px;
}
#banner_main .search_repair .rep_advantages .rep_advantages-item .text_adv h6 {
  color: #ffffff;
  font-family: "latobold";
  font-size: 18px;
  margin: 0;
  margin-bottom: 10px;
}
#banner_main .search_repair .rep_advantages .rep_advantages-item .text_adv p {
  color: #ffffff;
  margin: 0;
  font-family: "latolight";
  font-size: 14px;
  line-height: 20px;
}

#popular-auto {
  padding: 60px 0px;
}
#popular-auto h3 {
  color: #171a1d;
  margin: 0;
  font-family: "latobold";
  font-size: 33px;
  line-height: 24px;
  margin-bottom: 40px;
}
#popular-auto .popular-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#popular-auto .popular-list .popular_item ul {
  margin: 0;
  padding: 0;
  margin-top: 30px;
  list-style: none;
}
#popular-auto .popular-list .popular_item ul li a {
  color: #006bc2;
  font-family: "latolight";
  font-size: 14px;
  line-height: 27px;
  text-decoration: underline;
  text-transform: uppercase;
}
#popular-auto .popular-list .popular_item .model_letter span {
  color: #171a1d;
  font-family: "latobold";
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
}

#how-run {
  padding-top: 63px;
  padding-bottom: 77px;
  background: url(../img/how_bg.png) no-repeat center/cover;
}
#how-run h3 {
  color: #ffffff;
  font-family: "latobold";
  font-size: 33px;
  line-height: 24px;
}
#how-run .wrap-how-run {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
#how-run .wrap-how-run .steps .step-item {
  background: url("../img/line_dashed.png") repeat-y 17px 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 35px;
}
#how-run .wrap-how-run .steps .step-item:last-child {
  background: none;
}
#how-run .wrap-how-run .steps .step-item .step-num {
  margin-right: 15px;
  background-color: #f5f5f5;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
}
#how-run .wrap-how-run .steps .step-item .step-num span {
  color: #1565c0;
  font-family: "latobold";
  font-size: 20px;
  line-height: 36px;
}
#how-run .wrap-how-run .steps .step-item .step-txt h6 {
  margin: 0;
  color: #ffffff;
  font-family: "latobold";
  font-size: 20px;
  margin-bottom: 8px;
  margin-top: 5px;
}
#how-run .wrap-how-run .steps .step-item .step-txt p {
  color: #ffffff;
  font-family: "latoregular";
  font-size: 15px;
  max-width: 360px;
  line-height: 24px;
}
#how-run .wrap-how-run .video_description {
  -webkit-box-shadow: 0 0 27px rgba(0, 0, 0, 0.17);
          box-shadow: 0 0 27px rgba(0, 0, 0, 0.17);
}
#how-run .wrap-how-run .video_description iframe {
  display: block;
  width: 650px;
  max-width: 100%;
  height: 365px;
}

#popular-category {
  padding-top: 70px;
  padding-bottom: 50px;
}
#popular-category h3 {
  color: #171a1d;
  font-family: "latobold";
  font-size: 33px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 45px;
}
#popular-category .wrap_popular-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#popular-category .wrap_popular-company .popular_company-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 25%;
  margin-bottom: 25px;
}
#popular-category .wrap_popular-company .popular_company-item .popular_item-txt h5 {
  color: #3c434c;
  font-family: "latobold";
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  margin-top: 12px;
  margin-bottom: 10px;
}
#popular-category .wrap_popular-company .popular_company-item .popular_item-txt ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#popular-category .wrap_popular-company .popular_company-item .popular_item-txt ul li {
  margin-bottom: 10px;
}
#popular-category .wrap_popular-company .popular_company-item .popular_item-txt ul li a {
  color: #006bc2;
  font-family: "latolight";
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  line-height: 18px;
}
#popular-category .watch_all_categ {
  margin-top: 15px;
}

#what_say {
  padding-top: 44px;
  padding-bottom: 68px;
  background: #f5f5f5;
}
#what_say h3 {
  color: #171a1d;
  font-family: "latobold";
  font-size: 33px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 25px;
}
#what_say .say_wrap-review {
  background: transparent;
}
#what_say .say_wrap-review .review_say-item__offer {
  padding-left: 15px;
  padding-right: 15px;
  outline: none;
}
#what_say .say_wrap-review .review_say-item {
  outline: none;
  background: #ffffff;
  padding: 30px 20px 20px 30px;
}
#what_say .say_wrap-review .review_say-item h6 {
  color: #000000;
  font-family: "latobold";
  font-size: 18px;
  line-height: 36px;
  margin: 0;
}
#what_say .say_wrap-review .review_say-item span {
  color: #000000;
  font-family: "latolight";
  font-size: 16px;
  line-height: 36px;
}
#what_say .say_wrap-review .review_say-item p {
  color: #000000;
  font-family: "latoregular";
  font-size: 16px;
  line-height: 28px;
  max-width: 295px;
}

footer {
  background: #282828;
  padding: 45px 0px;
}
footer .footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer-list .policy p {
  color: #ffffff;
  font-family: "SegoeUI";
  font-size: 16px;
  line-height: 24px;
  max-width: 300px;
  margin-bottom: 40px;
}
footer .footer-list .policy span {
  color: #ffffff;
  font-family: "SegoeUI";
  font-size: 14px;
  line-height: 34px;
}
footer .footer-list .foot_navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .footer-list .foot_navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: 110px;
}
footer .footer-list .foot_navigation ul:last-child {
  margin-right: 0;
}
footer .footer-list .foot_navigation ul li a {
  color: #ffffff;
  font-family: "SegoeUI";
  font-size: 16px;
  font-weight: 400;
  line-height: 34px;
  text-decoration: underline;
}
footer .footer-list .foot_feedback a {
  display: block;
  color: #ffffff;
  font-family: "SegoeUI";
  margin-bottom: 18px;
  font-size: 16px;
  font-weight: 400;
}
footer .footer-list .foot_feedback span {
  display: block;
  color: #ffffff;
  font-family: "SegoeUI";
  font-size: 16px;
}

@media all and (max-width: 830px) {
  header .main_head {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  header .main_head .logo {
    margin-bottom: 0;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }

  header .main_head .profile_icons {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  header .main_head .search {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }
}
@media all and (max-width: 600px) {
  .top_line .about_info {
    display: none;
  }

  header .top_line .loc_pr ul li:first-child {
    margin-left: 0px;
  }
}
@media all and (max-width: 430px) {
  header .main_head .search .search_controls .search_button button {
    padding: 2px 8px;
  }

  header .main_head .search .search_controls .search_field input {
    padding-right: 85px;
  }

  header .main_head .search .hint ul li {
    padding: 5px 3px;
    font-size: 8px;
  }
}
@media all and (max-width: 360px) {
  .main_head .logo img {
    width: 180px;
  }
}

/*# sourceMappingURL=style.css.map */